section {
  max-width: 72rem;
  margin: auto;
  padding: 50px;

  padding-bottom: 200px;
  padding-top: 200px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;

  gap: 32px;
}

@media screen and (max-width: 768px) {
  section {
    padding: 0;
    padding-top: 100px;
    padding-bottom: 100px;

    margin: 25px;
  }

  nav {
    padding-right: 25px !important;
  }

  .navbar-link {
    font-size: 20px !important;
    font-weight: 600 !important;
  }
}

.icon-stack {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
}

.icon-stack .layer {
  position: absolute;
  width: 85px;
  height: 85px;
  border-radius: 20px;
}

.icon-stack .layer3 {
  width: 70%;
  bottom: 17px;
  z-index: 1;
}

.icon-stack .layer2 {
  width: 80%;
  bottom: 10px;
  z-index: 2;
}

.icon-stack .layer1 {
  bottom: 0;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar-link {
  padding: 7px 15px;
  border-radius: 10px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all .3s;
  display: flex;
  justify-content: center;
}

.navbar-link:hover {
  background-color: var(--color-opacity);
}

.navbar-container {
  position: fixed;
  z-index: 100;
  inset: 0% 0% auto;

  padding: 40px;
  padding-bottom: 0 !important;

  justify-content: center;
  align-items: center;
  display: flex;
}

nav {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  gap: 80px;

  margin-left: auto;
  margin-right: auto;

  padding: 15px 25px;
  padding-right: 15px;
  
  @apply rounded-full;
}

footer {
  padding: 40px;
}